<h1>Posts</h1>
<%= search_form_for @search, url: user_posts_path(current_user), method: :get do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont %>
    <%= f.label :comment_cont, "Comment contains" %>
    <%= f.text_field :comment_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Date</th>
      <th>Show Post </th>
    </tr>
  </thead>
  <tbody>
    <%- @post.each do |post| %>
      <tr>
        <td><%=post.title%></td> <td><%=post.user.email%></td><td><%= post.created_at.strftime("%A %d. %B %Y, %H %P") %></td><td><%= link_to "Show", user_post_path(current_user, post.id)  %></td>

      </tr>
    <%-end%>
  </tbody>
</table>